{% comment %}
  Snippet Arguments
  - collection: Liquid 'collection' or 'search' object
  - items: Paginated 'collection.products' or 'search.results' list. Cannot be pulled from the the 'collection' object passed in above
  - enable_sidebar: boolean
  - filter_style: 'sidebar' or 'drawer'
  - enable_sort: boolean
  - enable_collection_count
  - per_row
  - mobile_flush_grid
  - quick_shop_enable
{% endcomment %}

{% liquid
  if collection.products
    assign count = collection.products_count
    assign count_label = 'collections.general.items_with_count'
  endif

  if collection.results
    assign count = collection.results_count
    assign count_label = 'general.search.result_count'
  endif

  assign filters = collection.filters
  assign sort_by = collection.sort_by
  assign default_sort_by = collection.default_sort_by
  assign sort_options = collection.sort_options
  assign current_filter_size = 0

  for filter in filters
    assign current_filter_size = current_filter_size | plus: filter.active_values.size
  endfor
%}

{% assign remaining_products = '' %}

{% for product in items offset: 24 %}
  {% assign remaining_products = remaining_products | append: product.handle %}
  {% unless forloop.last %}
    {% assign remaining_products = remaining_products | append: ',' %}
  {% endunless %}
{% endfor %}
<div class="collection-grid__wrapper">
  <div class="cg-filter__wrap">
    <div class="collection-filter__item collection-filter__item--drawer mobile_only">
      <button
        type="button"
        class="js-drawer-open-collection-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
        aria-controls="FilterDrawer"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon icon-filter">
          <path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
        </svg>
        {{ 'collections.filters.title_tags' | t }}
        {%- if current_filter_size > 0 -%}
          ({{ current_filter_size }})
        {%- endif -%}
      </button>
    </div>
    <div class="cg-filter__wrapper">{{ filter_markup }}</div>
    <div class="collection-filter collection-filter__item--drawer-wrap desktop_only">
      <div class="collection-filter__item collection-filter__item--drawer ">
        <button
          type="button"
          class="js-drawer-open-collection-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
          aria-controls="FilterDrawer"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon icon-filter">
            <path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
          </svg>
          {{ 'collections.filters.title_tags' | t }}
          {%- if current_filter_size > 0 -%}
            ({{ current_filter_size }})
          {%- endif -%}
        </button>
      </div>
    </div>
    <div class="collection-filter__item collection-filter__item--count hidden">
      {%- if enable_collection_count -%}
        {{ count_label | t: count: count }}
      {%- endif -%}
    </div>

    <div class="collection-filter__item collection-filter__item--sort">
      <div class="collection-filter__sort-container">
        {%- assign sort_by = sort_by | default: default_sort_by -%}
        <label for="SortBy" class="hidden-label">{{ 'collections.sorting.title' | t }}</label>
        <select name="SortBy" id="SortBy" data-default-sortby="{{ default_sort_by }}">
          <option
            value="title-ascending"
            {% if sort_by == default_sort_by %}
              selected="selected"
            {% endif %}
          >
            {{ 'collections.sorting.title' | t }}
          </option>
          {%- for option in sort_options -%}
            <option
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              {{ option.name }}
            </option>
          {%- endfor -%}
        </select>
      </div>
    </div>
  </div>

  <collection-products
    class="grid grid--uniform{% if mobile_flush_grid %} small--grid--flush{% endif %}"
    style="--item-per_product: 24"
    {% unless enable_collection_count %}
      data-scroll-to
    {% endunless %}
    data-remaining-products="{{ remaining_products | join: ',' }}"
    data-product-per-row="24"
  >
    {%- for item in items limit: 24 -%}
      {%- if item.object_type == 'product' -%}
        {%- render 'product-grid-item-collection',
          product: item,
          per_row: per_row,
          quick_shop_enable: quick_shop_enable
        -%}
      {%- else -%}
        {%- render 'search-grid-item', item: item, per_row: per_row %}
      {%- endif -%}
    {%- endfor -%}
  </collection-products>
</div>

{%- if enable_sidebar and filter_style != 'drawer' and collection.filters.size > 0 -%}
  {% comment %}
    Sidebar enabled but not in drawer mode, only show filter button on mobile
  {% endcomment %}
  {% style %}
    @media screen and (min-width: 769px) {
      .collection-filter__item--drawer {
        display: none;
      }
      .collection-filter__item--count {
        text-align: left;
      }
      html[dir="rtl"] .collection-filter__item--count {
        text-align: right;
      }
    }
  {% endstyle %}
{%- endif -%}

{%- if enable_sidebar == false or collection.filters.size == 0 -%}
  {% comment %}
    Disable sidebar & filter features
  {% endcomment %}
  {% style %}
    .collection-filter__item--drawer {
      display: none;
    }
    .collection-filter__item--count {
      text-align: left;
    }
    html[dir="rtl"] .collection-filter__item--count {
      text-align: right;
    }
  {% endstyle %}
{%- endif -%}

{%- unless enable_sort -%}
  {% style %}
    .collection-filter__sort-container {
      display: none;
    }
  {% endstyle %}
{%- endunless -%}
