{% comment %}
  - collection: Liquid 'collection' or 'search' object
  - enable_sidebar: boolean
  - filter_style: 'sidebar' or 'drawer'
  - enable_color_swatches: boolean
  - collapsed: boolean
{% endcomment %}

{%- assign animation_row = 1 -%}

{%- if enable_sidebar -%}
  <div id="CollectionSidebar" data-style="{{ filter_style }}">
    {%- if filter_style == 'sidebar' -%}
      <div class="collection-sidebar small--hide">
        {%- render 'collection-grid-filters-form',
          location: 'CollectionSidebar',
          filters: collection.filters,
          collapsed: collapsed,
          enable_color_swatches: enable_color_swatches
        -%}
      </div>
    {%- endif -%}

    <div id="FilterDrawer" class="drawer drawer--left">
      <div class="drawer__contents">
        <div class="drawer__fixed-header">
          <div class="drawer__header appear-animation appear-delay-{{ animation_row }}">
            <div class="drawer__close">
              <button type="button" class="drawer__close-button js-drawer-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon icon-close">
                  <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                </svg>
                <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
              </button>
            </div>
            <div class="h2 drawer__title">
              {{ 'collections.filters.title_tags' | t }}
            </div>
          </div>
        </div>

        {%- assign animation_row = animation_row | plus: 1 -%}
        <div class="drawer__scrollable appear-animation appear-delay-{{ animation_row }}">
          {%- render 'collection-grid-filters-form',
            location: 'SidebarDrawer',
            filters: collection.filters,
            collapsed: collapsed,
            enable_color_swatches: enable_color_swatches
          -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
